form{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 50px 0px 0px 50px;
}
#comment{
    width: 200px;
    height: 30px;
}
span{
    border: 1px solid black;
    width: 200px;
    height: 25px;
    display: inline-block;
}
label{
    display: inline-block;
}
p{
    margin: 0px;
}
div{
    margin-top: 50px;
}
  